@model IEnumerable<Nyntra.Models. Address>

@{
    ViewBag.Title = "ExportToPdf";
    Layout = "~/Views/Admin_LayoutPage1.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Addresses PDF</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Addresses List</h2>

    <table>
        <thead>
            <tr>
                <th>AddressID</th>
                <th>ProductName</th>
                <th>FullName</th>
                <th>Mobile</th>
                <th>PinCode</th>
                <th>Address1</th>
                <th>Locality</th>
                <th>CityOrDistrict</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AddressID</td>
                    <td>@item.ProductName</td>
                    <td>@item.FullName</td>
                    <td>@item.Mobile</td>
                    <td>@item.PinCode</td>
                    <td>@item.Address1</td>
                    <td>@item.Locality</td>
                    <td>@item.CityOrDistrict</td>
                    <td>@item.State</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>


